*{
    padding: 0;
    margin: 0;
}
#canvas{
    margin: 20px auto;
    text-align: center;
    border: 2px solid #1F3100;
}
#canvas-div{
    margin: 0 auto;
    text-align: center;
}
#backdrop{
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-color: #888;
    position: fixed;
}
.hidden{
    display: none;
}